Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins/Developer/RiderLink/
Content/CyberpunkGirlV4/Characters/EvelynnV4/Textures
Content/CyberpunkGirlV4/Demo/Characters
Content/SwordAnimsetPro/Demo/Preview
Content/StrikeVFX
Content/DissolveVFX
Content/SciFi_Boss_Pack
Content/StrikeVFX
Content/AttackTrailFX01
Content/Sword_Slashes
Content/ShieldFXwithBPv2
Content/Ice_Element_VFX_Pack
Content/Shields


.idea/
*.user
*.userosscache
*.sln.docstates
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace