Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins/Developer/RiderLink/
Content/CyberpunkGirlV4/Characters/EvelynnV4/Textures
Content/CyberpunkGirlV4/Demo/Characters
Content/SwordAnimsetPro/Demo/Preview
Content/StrikeVFX
Content/DissolveVFX
Content/SciFi_Boss_Pack
Content/StrikeVFX
Content/AttackTrailFX01
Content/Sword_Slashes
Content/ShieldFXwithBPv2
Content/Ice_Element_VFX_Pack
Content/Shields
Content/StylizedFantasy_VFX
Content/MagicSpellsSoundEffects
Content/InteractFx
Content/SlashHitVFX
Content/DF_DRAGON_KNIGHT
Content/SwordnSpearAnimation
Content/Frank_RPG_GreatSword
Content/WizardSpellsPack
Content/UltraFXWarrior
Content/BlinkAndDashVFX
Content/Spear
Content/Fantasy_RPG_Music
Content/CharacterStatus
Content/Character_VFX_Pack
Content/Barbar
Content/ProjectileHitVFX
Content/Dark_Element_Spell_VFX
Content/Cosmic_VFX
Content/Air_Wind_Spell_VFX_Pack
Content/Frank_RPG_Mage



.idea/
*.user
*.userosscache
*.sln.docstates
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace